  /*div {
    width: 320px;
    padding: 10px;
    border: 5px solid gray;
    margin: 0;
}
h1{
  background-color: yellow;
}*/

/*.myimg {
  float: left;
  margin: 15px 20px 0 0;
}

.wrapper {
  border: 5px solid black;
}

.content {
  margin: 20px;
}*/
button{
  width: 320px;
  padding: 10px;
  border: 5px solid gray;
  margin: 0;
}
